<!-- wp:template-part {"slug":"header-archive","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true}} -->
<main class="wp-block-group alignfull">

	<!-- wp:columns {"align":"full","style":{"spacing":{"padding":{"top":"0px","bottom":"0px","left":"0px","right":"0px"}}},"className":"is-style-oh-so-pink-no-bottom-margin","backgroundColor":"dark-purple"} -->
	<div class="wp-block-columns alignfull is-style-oh-so-pink-no-bottom-margin has-dark-purple-background-color has-background"
	style="padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;">
		<!-- wp:column {"width":"65%","backgroundColor":"purple"} -->
		<div class="wp-block-column has-purple-background-color has-background" style="flex-basis:65%;">
			<!-- wp:navigation {"orientation":"vertical","textColor":"pale-purple","backgroundColor":"purple","style":{"typography":{"textTransform":"uppercase","fontStyle":"normal","fontWeight":"700"}},"fontSize":"xxl"} -->
			<!-- wp:navigation-link {"label":"Sample menu links:","url":"#","kind":"custom"} /-->
			<!-- wp:navigation-link {"label":"Home","url":"#","kind":"custom"} /-->
			<!-- wp:navigation-link {"label":"About","url":"#","kind":"custom"} /-->
			<!-- wp:navigation-link {"label":"Contact","url":"#","kind":"custom"} /-->
			<!-- /wp:navigation -->
		</div>
		<!-- /wp:column -->
		<!-- wp:column {"width":"35%","style":{"spacing":{"padding":{"left":"1em"}}},"backgroundColor":"dark-purple","textColor":"pale-purple","fontSize":"xxl"} -->
		<div class="wp-block-column has-pale-purple-color has-dark-purple-background-color has-text-color has-background has-xxl-font-size"
			style="flex-basis:35%;padding-left:1em">
			<!-- wp:latest-posts {"postsToShow":2,"displayPostContent":false,"excerptLength":19,"displayAuthor":true,"displayPostDate":true} /-->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->
	<!-- wp:group {"align":"full","backgroundColor":"light-pink"} -->
	<div class="wp-block-group alignfull has-light-pink-background-color has-background">
		<!-- wp:group {"layout":{"inherit":true}} -->
		<div class="wp-block-group">
			<!-- wp:search {"label":"","showLabel":false,"width":100,"widthUnit":"%","buttonText":"Search","align":"center","style":{"border":{"radius":"0px"}}} /-->
		</div>
		<!-- /wp:group -->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","className":"site-footer"} /-->
