<!-- wp:template-part {"slug":"header-archive","tagName":"header","align":"full","className":"site-header"} /-->

<!-- wp:template-part {"slug":"main","tagName":"main","className":"site-main","layout":{"inherit":true}} /-->

<!-- wp:group {"align":"full","backgroundColor":"light-pink"} -->
<div class="wp-block-group alignfull has-light-pink-background-color has-background">
	<!-- wp:group {"layout":{"inherit":true}} -->
	<div class="wp-block-group">
		<!-- wp:search {"label":"","showLabel":false,"width":100,"widthUnit":"%","buttonText":"Search","align":"center","style":{"border":{"radius":"0px"}}} /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","className":"site-footer"} /-->
